:root{

    /*colors default*/
    --primary: #2b2d42;
    --secondary: #3d405b;
    --success: #588157;
    --succss-active: #3a5a40;
    --blue-energy: #0081a7;
    --blue-energy-active: #215882;
    --color-text-w: #dad7cd;
    --color-text-d: #22223b;

    /*EARTHY GREEN*/
    --color-earthy-green1: #52796f;
    --color-earthy-green2: #52796f;
    --color-earthy-green3: #354f52;
    --color-earthy-green4: #2f3e46;
}